@using HumanResource.Application.Models.VMs.AdvanceVMs;
@model IEnumerable<AdvanceVM>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mb-3">Advances</h1>
    @*Avans oluştur*@
    <a class="btn btn-primary m-2 col-lg-2" data-bs-toggle="modal" data-bs-target="#createAdvanceModal">Create Advances</a> <form runat="server">
        <a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#createAdvanceModal">Advance Create</a>

        <div id="createAdvanceModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Advance Create</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <b>ID</b><input type="text" itemid="txtid">
                        </div><div class="form-group">
                            <b>Amount</b><input type="number" itemid="txtamount">
                        </div><div class="form-group">
                            <b>NumberOfInstallments</b><input type="number" itemid="txtTaksitSayisi">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
    @*Avans oluştur*@

    <!-- DataTales Example -->
    <div class="card shadow mb-4 w-50 col-lg-8 col-md-10 col-sm-12">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x=>x.Amount)</th>
                            <th>@Html.DisplayNameFor(x=>x.NumberOfInstallments)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(x=>x.Amount)</th>
                            <th>@Html.DisplayNameFor(x=>x.NumberOfInstallments)</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Amount</td>
                                <td>@item.NumberOfInstallments</td>
                                <td>
@*Avans Güncelle*@
                                    <form runat="server">
                                        <a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#updateAdvanceModal">Advances Update</a>

                                        <div id="updateAdvanceModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Advance Update</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <b>ID</b><input type="text" itemid="txtid">
                                                        </div><div class="form-group">
                                                            <b>Amount</b><input type="number" itemid="txtamount">
                                                        </div><div class="form-group">
                                                            <b>NumberOfInstallments</b><input type="number" itemid="txtTaksitSayisi">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Update</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
@*Avans Güncelle*@
                                    </form>
                                    <a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#deleteAdvanceModal">Advances Delete</a>
@*Avans sil*@
                        <form runat="server">
                            <a class="btn btnprimarym-2"databstoggle="modal"databstarget="#deleteAdvanceModal">AdvancDelete<a>

                            <div id="deleteAdvanceModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Advance Create</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <b>ID</b><input type="text" itemid="txtid">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Delete</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
@*Avans sil*@
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Advance?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $("#deleteAdvanceModal" && "#createAdvanceModal" && "#updateAdvanceModal").modal("show");
    });
</script>

