@model IEnumerable<LeaveVM>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mb-3">İzinler</h1>

    <a class="btn btn-primary m-2 col-lg-2" data-bs-toggle="modal" data-bs-target="#createLeaveModal">İzin Oluştur</a>@*ToDo : Pop up eklenecek*@

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x=>x.StartDate)</th>
                            <th>@Html.DisplayNameFor(x=>x.EndDate)</th>
                            <th>@Html.DisplayNameFor(x=>x.ReturnDate)</th>
                            <th>@Html.DisplayNameFor(x=>x.LeaveType)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(x=>x.StartDate)</th>
                            <th>@Html.DisplayNameFor(x=>x.EndDate)</th>
                            <th>@Html.DisplayNameFor(x=>x.ReturnDate)</th>
                            <th>@Html.DisplayNameFor(x=>x.LeaveType)</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@item.ReturnDate</td>
                                <td>@item.LeaveType</td>
                                <td>
                                    <a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#updateLeaveModal">İzni Güncelle</a>@*ToDo : Pop up eklenecek*@
                                    <a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#deleteLeaveModal">İzni Sil</a>@*ToDo : Pop up eklenecek*@
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*ToDo : popuplar işlev kazandırılacak, izin türü enum yapılabilir, id nasıl taşınacak çözülecek*@

<a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#updateLeaveModal">İzni Güncelle</a>@*ToDo : Pop up eklenecek*@
<a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#deleteLeaveModal">İzni Sil</a>@*ToDo : Pop up eklenecek*@

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="createLeaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="create" asp-controller="leave">
                    <div class="row d-flex justify-content-center mt-3">

                        <div class="col-lg-10">
                           
                            <label class="form-label">Leave Start Date</label>
                            <input class="form-control" name="StartDate" type="date">

                            <label class="form-label">Leave End Date</label>
                            <input class="form-control" name="EndDate" type="date">

                            <label class="form-label">Return Date</label>
                            <input class="form-control" name="ReturnDate" type="date">

                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-end mt-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <div class="col-lg-1"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateLeaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="create" asp-controller="leave">
                    <div class="row d-flex justify-content-center mt-3">

                        <div class="col-lg-10">

                            <label class="form-label">Leave Start Date</label>
                            <input class="form-control" name="StartDate" type="date">

                            <label class="form-label">Leave End Date</label>
                            <input class="form-control" name="EndDate" type="date">

                            <label class="form-label">Return Date</label>
                            <input class="form-control" name="ReturnDate" type="date">

                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-end mt-3">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <div class="col-lg-1"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteLeaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Aru you sure deleting leave request</p>

                <a class="btn btn-danger m-2 col-lg-2" asp-action="delete" asp-controller="delete">Delete</a>
                <a class="btn btn-primary m-2 col-lg-2" asp-action="leaves" asp-controller="personel">Vazgeç</a>

            </div>
        </div>
    </div>
</div>