@model LeaveDetailVM
@{
    Layout = "~/Areas/Personel/Views/Shared/_LayoutPersonel.cshtml";
}

<div class="d-flex justify-content-center">
    <div class="card mt-1" style="width: 40%;">

        <div class="card-body mt-1">
            <h1 class="card-title text-center text-black-50 mt-2"><strong>@Model.PersonelName</strong></h1>
            <h4 class="card-text text-center mt-2">@Model.Description</h4>
        </div>
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.StartDate):</strong> @Model.StartDate</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.EndDate):</strong> @Model.EndDate</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.ReturnDate):</strong> @Model.ReturnDate</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.LeaveType):</strong> @Model.LeaveType</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.LeavePeriod):</strong> @Model.LeavePeriod</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.CreatedDate):</strong> @Model.CreatedDate</li>
        </ul>
        <div class="card-body d-flex justify-content-around my-1">
            <a asp-controller="leave" asp-action="Approve" asp-area="personel" asp-route-id="@Model.Id" class="btn btn-success mt-2">Approve</a>
            <a asp-controller="leave" asp-action="reject" asp-area="personel" asp-route-id="@Model.Id" class="btn btn-danger mt-2">Reject</a>
        </div>
    </div>
</div>