@model IEnumerable<PersonelLeaveRequestVM>
@{
    Layout = "~/Areas/Personel/Views/Shared/_LayoutPersonel.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mb-3">Leave Requests</h1>

    <!-- DataTales Example -->
    <div class="ms-2 card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.PersonelFullName)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.LeaveType)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.StartDate)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.EndDate)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr class="align-middle">
                                <td class="text-center align-middle" type="date">@item.PersonelFullName</td>
                                <td class="text-center align-middle" type="date">@item.LeaveType</td>
                                <td class="text-center align-middle" type="date">@item.StartDate</td>
                                <td class="text-center align-middle" type="date">@item.EndDate</td>
                                <td class="d-flex justify-content-around align-middle">
                                    <a class="btn btn-primary m-2" asp-action="update" asp-controller="title" asp-route-id="@item.Id">View Details</a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
