@model CompanyDetailsVM

<div class="d-flex justify-content-center">
    <div class="card mt-1" style="width: 40%;">

        <div class="card-body mt-1">
            <h1 class="card-title text-center text-black-50 mt-2"><strong>Company Information</strong></h1>
        </div>
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x => x.CompanyName) :</strong> @(Model.CompanyName)</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x => x.FullName) :</strong> @(Model.FullName)</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x => x.TaxNumber) :</strong> @(Model.TaxNumber)</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x => x.TaxOfficeName) :</strong> @(Model.TaxOfficeName)</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x => x.PhoneNumber) :</strong> @(Model.PhoneNumber)</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x => x.NumberOfEmployee) :</strong> @(Model.NumberOfEmployee)</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x => x.City) :</strong> @(Model.City)</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x => x.District) :</strong> @(Model.District)</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x => x.AddressDescription) :</strong> @(Model.AddressDescription)</li>
        </ul>
        <div class="card-body d-flex justify-content-around my-1">
            <a class="btn btn-primary m-2" asp-area="siteadmin" asp-action="index" asp-controller="siteadmin">Back To The List</a>
        </div>
    </div>
</div>