@model IEnumerable<CompanyManagerRegisterRequestsVM>
<div class="row d-flex justify-content-between">
    <h3 class="card-header bg-dark text-white border-3">Company Registration Requests</h3>
    <div class="ms-1 card shadow mb-1">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th hidden class="text-center">@Html.DisplayNameFor(x=>x.CompanyId)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.CompanyName)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.FullName)</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden class="text-center align-middle">@item.CompanyId</td>
                                <td class="text-center align-middle">@item.CompanyName</td>
                                <td class="text-center align-middle">@item.FullName</td>
                                <td class="d-flex justify-content-around">
                                <a class="btn btn-primary m-2" asp-action="details" asp-controller="siteadmin" asp-route-id="@item.UserId">Details </a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>