@model IEnumerable<CompanyVM>
<div class="row d-flex justify-content-between">
    <h3 class="card-header bg-dark text-white border-3">List Of Companies</h3>
    <div class="card shadow mb-1">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th hidden class="text-center">@Html.DisplayNameFor(x=>x.CompanyId)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.CompanyName)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.FullName)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.Statu)</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden class="text-center align-middle">@item.CompanyId</td>
                                <td class="text-center align-middle">@item.CompanyName</td>
                                <td class="text-center align-middle">@item.FullName</td>
                                @if (item.Statu == "Awating Approval")
                                {
                                    <td class="text-center align-middle "><span class="badge rounded-pill bg-warning p-3">@item.Statu</span></td>
                                }
                                else if (item.Statu == "Rejected")
                                {
                                    <td class="text-center align-middle"><span class="badge rounded-pill bg-danger p-3">@item.Statu</span></td>
                                }
                                else if (item.Statu == "Active")
                                {
                                    <td class="text-center align-middle"><span class="badge rounded-pill bg-success p-3">@item.Statu</span></td>
                                }
                                <td class="d-flex justify-content-around align-middle">
                                    <a class="btn btn-primary m-2" asp-area="siteadmin" asp-action="getdetails" asp-controller="siteadmin" asp-route-id="@item.UserId">Details </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


